@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nanum+Myeongjo&display=swap");

:root {
  --easy-white: #f2f2f2;
  --easy-dark: #3c3c3c;

  --background: var(--color-white);
  --foreground: var(--color-easyDark);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    width: 0ch;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}
.fade-out {
  animation: fadeOut 0.3s ease-in-out;
}

.typing {
  animation: typing 3s steps(48);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-easyWhite: var(--easy-white);
  --color-easyDark: var(--easy-dark);

  --color-primary-50: #fff1f3;
  --color-primary-100: #ffe3e7;
  --color-primary-200: #ffc0cb;
  --color-primary-300: #ffa2b3;
  --color-primary-400: #fe6e8b;
  --color-primary-500: #f83b66;
  --color-primary-600: #e51951;
  --color-primary-700: #c20e43;
  --color-primary-800: #a20f40;
  --color-primary-900: #8a113c;
  --color-primary-950: #4d041c;

  --font-title: "Nanum Myeongjo", serif;
  --font-body: "Lato", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Remove the default marker from <summary> in all browsers */
details > summary {
  list-style: none;
} /* Removes list-style bullets in general */
details > summary::marker {
  display: none;
} /* Hides the marker in Firefox/Chromium */
summary::-webkit-details-marker {
  display: none;
} /* Hides the marker in Safari/WebKit browsers */
